#root{
    font-family: 'Montserrat';
    --darkdark: #042e3f;
    --darklight: #0e6772;
    --lightdark: #42a6a5;
    --lightlight: #f9f9f9; 
    --highlight:#cfefa1;
    
    display: flex;
    flex-direction: column;
    flex-basis:100%;
    height:100%;
    background:var(--lightlight);
}
.noCursor{
    cursor: not-allowed;
}
img,svg{
    max-width: 100%;
    height:auto;
    width: 100%;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.align-self-center{  
    align-self: center;
}
.align-center{  
    align-items: center;
}
.space-between{  
    justify-content: space-between
}
.hideBelow980{
    display: none !important;
}
@media screen and (min-width:980px) {
    .flex-row-desktop{
        display: flex;
        flex-direction: row;
    }
    .align-center-desktop{
        align-items: center;
    }
    .hideBelow980{
        display:block!important;
    }
}


.pageTop{
    margin:auto;
    margin-bottom:20px;
    height:40px;
}
.pageTop *{
    font-size: 1em;
    font-weight: normal;
}

@media screen and (min-width:980px) {
    .pageTop{
        margin-left:unset;
        margin-right:unset;
        width:100%;
    }
}

/* Mui override */
.css-heg063-MuiTabs-flexContainer{
    justify-content:space-around;
}

/* chip */
.MuiChip-colorPrimary.MuiChip-filledPrimary{
    background:var(--darklight);
    color:var(--highlight);
}
.MuiChip-colorPrimary.MuiChip-outlinedPrimary{
    border-color:var(--darklight);
    color:var(--darkdark);
}

/* amplify card */
.amplify-card{
    border-left: 3px solid var(--lightdark);
    color:var(--lightdark);
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
}

/* avatar */
.css-1a81169-MuiAvatar-root{
    background:var(--highlight) !important;
    color:var(--darkdark) !important;
}
.css-19kzrtu{
    padding-top:10px !important;
}


/* rating row */

.ratingRowWrap{
    padding:15px;
}
.ratingRow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width:500px) {
    .ratingRow{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
}