@media screen and (min-width:980px) {
    .feed-container{
        width: 70%;
    }
}
#root .card-feed-item{
    width:100%;
    flex-basis:500px;
    max-width: 500px;
    min-width: 100% !important;
    margin:auto;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
#root .feed-container {
    width: 100%;
}
#root .feed-container .MuiGrid-container{
    flex-direction: column;
    /* margin:auto; */
}
#root .card-feed-item > .MuiCardActions-root{
    background: var(--lightlight);
}

#root .MuiGrid-item .card-feed-item .css-46bh2p-MuiCardContent-root{
    padding-top:0;
    padding-bottom:0;
}

@media screen and (min-width:540px) {

    /* #root .feed-container .MuiGrid-container{
        flex-direction: row;
    } */
    #root  .MuiGrid-item  .card-feed-item{
        width:500px;
        flex-basis:500px;
        max-width: 500px;
        min-width: 500px !important;
        border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        -ms-border-radius:4px;
        -o-border-radius:4px;
    }
    
}

@media screen and (min-width:980px) {
    #root .card-feed-item{
        width:100%;
        flex-basis:100%;
        max-width: 100%;
        border-radius:4px;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        -ms-border-radius:4px;
        -o-border-radius:4px;
    }
    
}

